{% extends "rest_framework/base.html" %}
{% load static %}

{# Override this template in your own templates directory to customize #}

{% block userlinks %}
    {% if user.is_authenticated %}
        <li><a href="#registration-device">Registration device on push notices</a></li>
        <li><a href="/admin/">Administration</a></li>
    {% endif %}
    {{ block.super }}
{% endblock %}


{% block script %}
    <script>
        window.drf = {
            csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
            csrfCookieName: "{{ csrf_cookie_name|default:'csrftoken' }}"
        };
    </script>
    <script src="{% static "rest_framework/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script>
        $(document).ready(function () {
            // JSON highlighting.
            prettyPrint();

            // Bootstrap tooltips.
            $('.js-tooltip').tooltip({
                delay: 1000,
                container: 'body'
            });

            // Deal with rounded tab styling after tab clicks.
            $('a[data-toggle="tab"]:first').on('shown', function (e) {
                $(e.target).parents('.tabbable').addClass('first-tab-active');
            });

            $('a[data-toggle="tab"]:not(:first)').on('shown', function (e) {
                $(e.target).parents('.tabbable').removeClass('first-tab-active');
            });

            $('a[data-toggle="tab"]').click(function () {
                document.cookie = "tabstyle=" + this.name + "; path=/";
            });

            // Store tab preference in cookies & display appropriate tab on load.
            let selectedTab = null;
            let selectedTabName = getCookie('tabstyle');

            if (selectedTabName) {
                selectedTabName = selectedTabName.replace(/[^a-z-]/g, '');
            }

            if (selectedTabName) {
                selectedTab = $('.form-switcher a[name=' + selectedTabName + ']');
            }

            if (selectedTab && selectedTab.length > 0) {
                // Display whichever tab is selected.
                selectedTab.tab('show');
            } else {
                // If no tab selected, display rightmost tab.
                $('.form-switcher a:first').tab('show');
            }

            $('#errorModal').modal('show');
            $('form').ajaxForm();

        });

    </script>
    <!-- Firebase -->
    <!-- ********************************************************
         * TODO(DEVELOPER): Update Firebase initialization code:
            1. Go to the Firebase console: https://console.firebase.google.com/
            2. Choose a Firebase project you've created
            3. Click "Add Firebase to your web app"
            4. Replace the following initialization code with the code from the Firebase console:
    -->
    <!-- START INITIALIZATION CODE -->
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-messaging.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBgg6qf7favbFcGVt1tXb2qki-Zdk1PvUc",
            authDomain: "test-app-fb382.firebaseapp.com",
            databaseURL: "https://test-app-fb382.firebaseio.com",
            projectId: "test-app-fb382",
            storageBucket: "test-app-fb382.appspot.com",
            messagingSenderId: "473624285239"
        };
        firebase.initializeApp(config);
    </script>
    <!-- END INITIALIZATION CODE -->
    <!-- ******************************************************** -->
    <script src="{% static "comments/js/notices.js" %}"></script>
{% endblock %}